body, html,form {
	margin: 0;
	padding: 0;
	background: white;
	font-family: Helvetica, Black;
	font-size: xx-large;
}

.error {
	color: #c00;
	font-weight: normal;
}

.info {
	color: green;
}

.correct {
	font-family: fantasy;
	font-size: xx-large;
    background-color: yellow;
}

.toolbar{
	width:800px;
}

.left_side{
	float:left;
	width:200px;
	margin:20px;
}

.right_side{
	float:right;
	width:500px;
	margin:20px;
}